<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a routerLink="/home" class="navbar-brand">
      <span class="material-symbols-outlined">
        ecg_heart
      </span>
      <span class="navbar-text">NursingSims</span>
    </a>

     <div class="ml-auto"> <!-- Add this div with the 'ml-auto' class -->
      <!-- Sign In/Up -->
      <div class="btn-group" *ngIf="!isAuthenticated">
        <a routerLink="/sign-up" class="btn btn-outline-secondary">Sign Up</a>
        <a routerLink="/login" class="btn btn-outline-secondary">Login</a>
      </div>
     </div>

    <!-- Sign Out -->
    <div class="btn btn-outline-secondary" *ngIf="isAuthenticated">
      <button class="btn nav-link">
        <a (click)="onSignOut()" class="nav-item nav-link">Sign Out</a>
      </button>
    </div>

  </div>
</nav>