.dropdown-item {
  cursor: pointer;
}
.material-symbols-outlined {
  font-size: 3rem;
  color: #C32604;
  text-align: center;
  vertical-align: middle; 
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}
.navbar {
  max-height: 4rem;
}