<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a routerLink="/home" class="navbar-brand">
      <span class="material-symbols-outlined">
        ecg_heart
      </span>
    </a>

    <!-- Search bar -->
    <form class="d-flex">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <button type="button" class="btn btn-secondary"><i class="bi-search"></i></button>
      </div>
    </form>

    <!-- Sign Out -->
    <div class="btn btn-outline-secondary" *ngIf="isAuthenticated">
      <button class="btn nav-link">
        <a (click)="onSignOut()" class="nav-item nav-link">Sign Out</a>
      </button>
    </div>

  </div>
</nav>