<div class="container border border-secondary rounded" *ngIf="formData">
  <!-- Edit & Delete Buttons -->
  <div class="float-end">
    <button
      type="button"
      class="btn btn-danger"
      (click)="onDeleteForm(formData.id)"
    >
      <span class="material-symbols-outlined">
        delete
      </span>
    </button>
    <button
      type="button"
      class="btn btn-success"
      (click)="onEditForm()"
    >
      <span class="material-symbols-outlined">
        edit
      </span>
    </button>

  </div>

  <div class="mb-3">
    <label>Title:</label>
    <input value="{{formData.title}}">
  </div>
     
  <div class="mb-3">
    <label>Nursing Note:</label>
    <textarea style="width: 100%;" value="{{formData.nursingTextArea}}"></textarea>
  </div>
  
  <div class="row mb-3">

    <div class="col-sm-6 flex-column d-flex">
      <label>Name:</label>
      <input value="{{formData.name}}">
    </div>

    <div class="col-sm-6 flex-column d-flex">
      <label>Age:</label>
      <input value="{{formData.age}}">
    </div>

  </div>
            
  <div class="row mb-3">
  
    <div class="form-group col-sm-6 flex-column d-flex">
      <label class="">Allergies:</label>
      <input value="{{formData.allergies}}">
    </div>

    <div class="form-group col-sm-6 flex-column d-flex">
      <label class="">Code Status:</label>
      <input value="{{formData.codeStatus}}">
    </div>
  
  </div>

  <div class="mb-3">
    <label for="">Provider Notes:</label>
    <textarea style="width: 100%;" value="{{formData.providerTextArea}}"></textarea>
  </div>
  
  <div class="row mb-3">

    <div class="col-sm-6 flex-column d-flex">
      <label>Vitals:</label>
      <input value="{{formData.vitals}}">
    </div>

    <div class="col-sm-6 flex-column d-flex">
      <label>Temperature:</label>
      <input value="{{formData.temperature}}">
    </div>

  </div>
  
  <div class="mb-2">
    <label for="">Other Notes:</label>
    <textarea style="width: 100%;"></textarea>
  </div>
  
</div>
