.card {
  width: 16rem;
  height: 8rem;
 
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition:
  .3s transform cubic-bezier(.155,1.105,.295,1.12),
  .3s box-shadow,
  .3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-title {
  font-size: 24px;
  text-decoration: none;
}

.card-footer {
  height: 40px;
  /* border-color: black; */
}

.card:hover {
  transform: scale(1.05);
  box-shadow:
    0 10px 20px rgba(0,0,0,.12),
    0 4px 8px rgba(0,0,0,.06);
}

.data {
  text-decoration: none;
}

.text {
  color: black;
  font-size: 15px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* @media(max-width: 990px){
  .card{
    margin: 20px;
  }
} */